@use './fonts';

$main-color: rgb(247, 247, 247);
$fond: rgb(233, 233, 233);
$second-color: rgb(72, 118, 244);
$third-color: rgb(46, 43, 43);
$large: 2rem;
$medium:1.5rem;
$min:1.2rem;
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'inter';
}

html {
	font-size: 62.5%;
}

body {
	background-color: $main-color;
	color: $second-color;
}
