@use './base';

.us-section {
	width: 80%;
	max-width: 500px;
	margin: 2rem auto;
	p {
		color: base.$third-color;
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 1.2rem;
		line-height: 18px;
	}
	h2 {
		margin: 3rem 0px 2.4rem 0px;
		color: base.$second-color;
		font-weight: 900;
		font-size: 1.4rem;
	}
}
