@import '_base';

.menu-mobilePage{
    display: flex;
    justify-content: center;
    background-color: $main-color;
    position: absolute;
    top: 55px;
    width: 100%;
    border-bottom: 1px black solid;
}
.menu-mobilePage ul{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    margin-bottom: 22px;
}
.menu-mobilePage ul li{
    margin: 5px;
}
.menu-mobilePage ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu-mobilePage ul li svg{
    width: 12px;
    height: auto;
}
@media (min-width:640px){
    .menu-mobilePage{
        display: none;
    }
}