@import '_base';

.menu-mobilePage{
    background-color: $main-color;
    position: absolute;
    top: 60px;
    width: 100%;
    border-bottom: 1px black solid;
}
.menu-mobilePage ul{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    margin-bottom: 22px;
}
.menu-mobilePage ul li{
    margin-top: 22px ;
}
.menu-mobilePage ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}